# Python cache
__pycache__/
*.pyc

# Logs & outputs
logs/
*.csv

# Data files (optional, if large)
Dataset/
processed_data/

# OS files
.DS_Store
Thumbs.db

# Models (if large)
models/

# Virtual env
venv/